<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Health Diagnosis ML</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename = 'style.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <nav>
        <input id="nav-toggle" type="checkbox" />
        <div class="logo"><strong>D</strong>ementia</div>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="/#2">About</a></li>
          <li><a href="/prediction">Prediction</a></li>
          <li><a href="/#4">Contact</a></li>
        </ul>
        <label for="nav-toggle" class="icon-burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </label>
      </nav>
    </header>
    <div
      style="
        background-color: #5c7aea;
        height: 100vh;
        width: 100vw;
        margin-top: 0;
        display: flex;
        justify-content: space-around;
      "
    >
      <div class="formclass">
        <form action="/dementia" method="POST" enctype="multiport/form-data">
          <input
            placeholder="Gender(1:Male,0:Female)"
            type="text"
            name="sex"
          /><br />

          <input placeholder="Age" type="text" name="age" /><br />

          <input placeholder="EDUC" type="text" name="educ" /><br />

          <input placeholder="SES" type="text" name="ses" /><br />

          <input placeholder="MMSE" type="text" name="mmse" /><br />

          <input placeholder="eTIV" type="text" name="etiv" /><br />

          <!-- <input placeholder="CDR" type="text" name="cdr" /><br /> -->

          <input placeholder="nWBV" type="text" name="nwbv" /><br />

          <input placeholder="ASF" type="text" name="asf" /><br />
          <br />
          <input class="submitbutton" type="submit" value="Predict" />
        </form>
      </div>
    </div>
  </body>
</html>
